<div class="col-xs-12 col-sm-9">
  <div class="jumbotron">
    {{outlet}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="list-group">
    {{#link-to 'repo.index' class="list-group-item"}}Home{{/link-to}}
    {{#link-to 'repo.commits' class="list-group-item"}}Commits{{/link-to}}
    <a href="#" class="list-group-item">PRs</a>
  </div>
</div>