<div class="jumbotron">
  <h3>Select a repository to track</h3>
  <ul>
    {{#each model as |repo|}}
      {{#link-to 'repo' repo tagName="li" }}<a>{{repo.name}}</a>{{/link-to}}
    {{/each}}
  </ul>
</div>