<div>
  {{#each model as |issue|}}
    <div style="border: 1px solid #ddd;border-radius: 10px;margin: 10px">
      <div class="pull-left" style="padding:20px">
        {{avatar-img width="50" height="50" src=issue.user.avatarUrl }}
      </div>
      <div style="padding:20px">{{#link-to 'repo.issues.details' issue}}[#{{issue.number}}] {{format-markdown issue.title}} {{/link-to}}</div>
    </div>
  {{/each}}
  <div style="border: 1px solid #ededed;border-radius: 10px;margin: 10px">
    <div style="padding:20px"><a {{action 'loadMore'}}>Load more</a></div>
  </div>
</div>