<div>
  {{#each model as |commit|}}
    <div style="border: 1px solid #ddd;border-radius: 10px;margin: 10px">
      <div class="pull-left" style="padding:20px">
        {{avatar-img width="50" height="50" src=commit.author.avatarUrl }}
      </div>
      <div style="padding:20px">{{#link-to 'repo.commits/details' commit}}{{commit.sha}}{{/link-to}} - {{format-markdown commit.commit.message}}</div>
    </div>
  {{/each}}
  <li><a {{action 'loadMore'}}>Load more</a></li>
</div>